* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#fff, #7aec9c);
}

.container {
    max-width: 650px;
    padding: 20px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(245, 246, 247, 0.717);
}

h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #393333;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%; /* Grow, shrink, and base width */
    min-width: 45%;
    margin-bottom: 15px;
    padding-right: 10px; /* Add padding to the right for spacing */
}

.input-box:nth-child(2n) {
    padding-right: 0; /* Remove padding for the rightmost column */
    margin: 2px;
}

.input-box label {
    font-weight: bold;
    margin: 5px 0;
}

.input-box input,
.input-box select,
.input-box textarea {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}



.survey-form {
    max-width: 600px;
    margin: auto;
}


